{ "presets": [
    [
      "env",{
        "targets": {
          "browsers":[
            "last 2 versions",
            "safari   >= 7"
          ]
        }
      }
    ],
    "react"
  ],
  "plugins": [
    [
      "import",{
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css"
      }
    ]

  ]
}
