{ "presets": [
    [
      "env",{
        "targets": {
          "browsers":[
            "last 2 versions",
            "safari   >= 7"
          ]
        }
      }
    ],
    /* [
      "import",{"libraryName":"antd", "libraryDirectory": "es", "style": "css"}
    ], */
    "react"
  ]
}
